
.game-container {
    display: flex;
    flex-direction: row;
    flex-flow: row;
    justify-content: center;
    margin-top: 10px;
}

.game-space {
    display: flex;
    flex-direction: column;
}

.game-controlls {
    display: flex;
    flex-direction: row;
    flex-flow: row;
    justify-content: flex-end;
    margin-top: 5px;
    list-style: none;
}

.game-controlls>li {
    margin-left: 5px;
}